* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;

    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.space {
    color: aqua;
    font-size: 30px;
    background-color: blueviolet;
}
/*Propriedades para Alinhamento nos itens

justify-self
align-self

*/

