* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.space {
    color: #fff;
    font-size: 30px;
}

/* Nos itens*/

.one {
    background: #cecece;
    grid-column-start: 1;
    grid-column-end: 3;
}

.two {
    background: #ff0000;
}

.three {
    background: #c7d798;
    grid-column: 1/4; /*Aqui é um exemplo de atalho do exemplo acima na div one*/
}

.four {
    background: #1f1f;
}

.five {
    background: #000fff;
}

.six {
    background: #fefe00;
}

.seven {
    background: #7f7f7f;
}

.eight {
    background: #c7c;
}

.nine {
    background: #0077;
}